{% extends 'core/base.html' %}

{% block title %}History Purchase{% endblock %}

{% block content %}
<body class="bg-gray-100 p-8">
    <h1 class="text-3xl font-bold mb-4">Purchase History</h1>
    <div class="overflow-x-auto">
        <table class="min-w-full">
            <thead>
                <tr>
                    <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Product Name</th>
                    <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
                    <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Total Payment</th>
                    <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Purchase Date</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in history %}
                <tr>
                    <td class="px-6 py-4 whitespace-no-wrap">
                        <a href="{% url 'items:detail' purchase.product_name.id %}">
                            {{ purchase.product_name }}
                        </a>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap">{{ purchase.quantity }}</td>
                    <td class="px-6 py-4 whitespace-no-wrap">{{ purchase.total_paid }}</td>
                    <td class="px-6 py-4 whitespace-no-wrap">{{ purchase.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

{% endblock %}