{%extends 'core/base.html'%}

{%block title%}About Me{%endblock%}

{%block content%}
<body class="bg-gray-100 font-sans">

    <div class="container mx-auto p-8">
        <h1 class="text-4xl font-bold mb-6">About Me</h1>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name:</label>
            <p class="text-gray-800">Muhammad Rafihul Akhiroh</p>
        </div>


        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email:</label>
            <p class="text-gray-800">rafihul2905@gmail.com</p>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="creation-date">Website Creation Date(First Commit):</label>
            <p class="text-gray-800">October 17, 2023</p>
        </div>

        <div class="mb-4">
            <a href="https://instagram.com/rfihull?igshid=b3V0MG8xZ2Rvd3g0">
                <svg class="h-8 w-8 text-black-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" /></svg>
            </a>
        </div>
    </div>

</body>
{%endblock%}