<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aplikasi Belanja{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Tambahkan CSS untuk footer */
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .container {
            flex: 1;
        }
        #errorText {
            display: none;
            color: red;
        }
    </style>
</head>
<body class="bg-white-100">
    <header class="bg-blue-500 text-white py-4 flex justify-between items-center">
        <div class="container mx-auto md:flex md:items-center ml-auto space-x-4 flex-grow">
            <div class="text-center">
                {% if user.is_authenticated %}
                <a href="{% url 'account:profile' %}" class="text-white hover:text-blue-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                  </a>
                {% else %}
                <a href="{% url 'account:login' %}" class="text-white hover:text-blue-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                    </svg>
                  </a>
                {% endif %}
            </div>
        </div>
    </header>
    <nav class="bg-gray-800 text-white py-2">
        <div class="container mx-auto">
            <ul class="flex justify-center space-x-4">
                <li><a href="{% url 'core:index' %}" class="hover:text-blue-500">Beranda</a></li>
                <li><a href="#" class="hover:text-blue-500">Kontak</a></li>
                <li><a href="{% url 'items:new' %}" class="hover:text-blue-500">NewItem</a></li>
                <li><a href="#" class="hover:text-blue-500">Dashboard</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mx-auto py-8">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="bg-gray-800 text-white text-center py-4">
        &copy; Aplikasi Belanja 2023
    </footer>
</body>
</html>
