{% extends 'core/base.html' %}

{% block title %}Settings{% endblock %}

{%block content%}
<h1 class="mb-6 text-3xl">{{ title }}</h1>

<form method="post" action="{% url 'account:settingprofile' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <p class="mb-4 text-gray-600">Enter your new image profile</p>

    <div class="space-y-4">
        {{ form.gambar }}
    </div>

    {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}

            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <button class="mt-6 py-4 px-8 text-lg bg-blue-500 hover:bg-blue-700 rounded-xl text-gray">Submit</button>

</form>

{%endblock%}
